*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
  --primary-background: #29323F;
  --secundary-background: #ADB8CA;
}
body{
  height: 100vh;
  width: auto;
  background-color: var(--secundary-background);
}
.form{
  background-color: #DCE2EB;
  max-width: 50%;
  border-radius: 0.3em;
  box-shadow: 2px 2px 6px 1px var(--primary-background);
  margin: auto;
  margin-top: 2em;
  padding: 1em;
}
button{
  background-color: #29323F;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 0.3em;
  color: white;
  transition: 0.4s;
  max-width: 7em;
}
button:hover{
  background-color: #6D676E;
}