*{
    padding: 0%;
    margin: ;
;

}
/* body{
    background-color: #77c1ec;
} */
.header img{
    width: 250px;
    margin-left: 10%;
    margin-top: 10%;
   
}
.conect{
    margin-left: 25px;
}
.new{
    margin-left: 56px;
}
.video{
    margin-left: 120px;
}
